<header>
    <div>
    <ul class="spce even">
        <li>
            <h1 style="padding-left: 50px;">VrindArshan</h1></li>
            <li>
                <ul class="eve">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="/components/about.html">About</a></li>
                    <li><a href="/components/ulist.html">Listed Temples</a></li>
                    <li><a href="/components/tours.html">Packages</a></li>
                    <li><a href="/components/membership.html">Subscription</a></li>
                </ul>
            </li>
        </ul>
        </div>
    </header>

<footer>
    <div>
    <ul class="spce even">
        <li>
            <h1 style="padding-left: 50px;">Under DevOps</h1></li>
            <li>
                <ul class="eve">
                    <li><a href="https://www.github.com/stubanx/">Contribute</a></li>
                    <li><a href="mailto:gantavyaoo@gmail.com"> Contact Us</a></li>
                    <li><a href="mailto:gantavyaoo@gmail.com?subject=improvement+for+vrindarshan">Suggestion Box</a></li>
                    <li><a href="https://www.buymeacoffee.com">Support</a></li>
                </ul>
            </li>
        </ul>
        </div>
    </footer>